<div class="sync-bar" x-data="syncPanel()" style="margin-bottom:1.6rem">
  <button type="button" @click="start()" :disabled="running">
    <span x-show="!running">Sync now</span>
    <span x-show="running" style="display:none"><span class="spinner"></span>&nbsp;Syncing…</span>
  </button>
  <div class="sync-panel" x-show="running || lines.length" style="display:none; margin-top:1rem">
    <div class="bar" x-show="running"><i></i></div>
    <div class="sync-log" x-ref="log">
      <template x-for="(ln, i) in lines" :key="i">
        <div class="line" :class="ln.cls"><span class="pip" x-text="ln.pip"></span><span x-text="ln.text"></span></div>
      </template>
    </div>
  </div>
</div>
